.acf-common-block, .featured-org {
    padding: 100px 0;
}

.about-hero-img, .featured-hero-img {
    margin-bottom: 20px;
}

.about-description h2, .featured-description h2 {
    padding-bottom: 10px;
}

.focus-areas {
    font-weight: 700;
}