.acf-common-block, .featured-org {
    padding: 100px 0;
}

.about-hero-img, .featured-hero-img {
    margin-bottom: 2rem;
}

.about-description, .featured-description {
    h2 {
        padding-bottom: 1rem;
    }
}

.focus-areas {
    font-weight: 700;
    p:first-child {
        margin-bottom: .5rem;
    }
}